<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>로또 회차를 입력하세요!</h1>
    <form action="/result_lotto">
        <input type="number" name= "round_lotto">
        <h1>로또 번호를 입력 하세요(숫자 구분은 스페이스)</h1>
        <input type="text" name= "lotto_number">
        <input type="submit">
    </form>
   
</body>
</html>