{% extends 'base.html' %}

{% block body %}

<h1>Edit Movie!</h1>


<form action="/movies/{{ movies.pk }}/update/" method="POST">
    {% csrf_token %}
    <label for="">Title :</label>
    <input type="text" name="title" value="{{ movies.title }}">
    <br>
    <label for="">Title_en :</label>
    <input type="text" name="title_en"  value="{{ movies.title_en }}">
    <br>
    <label for="">audience :</label>
    <input type="number" name="audience"  value="{{ movies.audience }}">
    <br>
    <label for="">open_date:</label>
    <input type="date" name="open_date"  value="{{ movies.open_date }}">
    <br>
    <label for="">genre:</label>
    <input type="text" name="genre"  value="{{ movies.genre }}">
    <br>
    <label for="">watch_grade:</label>
    <input type="text" name="watch_grade"  value="{{ movies.watch_grade }}">
    <br>
    <label for="">score :</label>
    <input type="number" name="score"  value="{{ movies.score }}">
    <br>
    <label for="">poster_url :</label>
    <input type="text" name="poster_url"  value="{{ movies.poster_url }}">
    <br>
    <label for="">description :</label>
    <input type="text" name="description"  value="{{ movies.description }}">
    <br>
    <input type="submit">
</form>

<br>
<br>
<a href="/movies/">back</a>

{% endblock %}