{% extends 'base.html' %}

{% block body %}

<h1>학생 상세 정보</h1>

<h3> {{students.id}}번 학생의 이름은 : {{students.name}}</h3>
<h3> {{students.id}}번 학생의 나이는 : {{students.age}}</h3>
<h3> 생성 시간 : {{students.created_at}}</h3>
<h3> 수정 시간 : {{students.updated_at}}</h3>

<a href="/students/"><h1>홈</h1></a>
<a href="/students/{{students.pk}}/edit/"><h1>수정하기</h1></a>

<!-- a  tag는 POST 요청 보낼 수 없습니다. 그렇다면 form tag! -->
<!-- <a href="{% url 'delete' students.pk %}"> 삭제</a> -->

<form action="{% url 'students:delete' student.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value = "delete">
</form>


{% endblock %}